 <div style="background-size: cover; background-image: url('<%= image_path 'screen_spectator.svg' %>');">
  <div class="container">
  <div id="game" data-current-game="<%= @game.id %>"></div>
  <div class="vertical-between">
    <div class="row">
      <div class="col-xs-4">
        <div class="card">
          <span class="badge">1</span>
          <div id="game-info">
            <h3>connect to the wifi</h3>
            <p> Network: <%= @game.wifi_network %></p>
            <p>Password: <%= @game.wifi_password %></p>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="card">
          <span class="badge">2</span>
            <div id="game-info">
              <h3>Join the game</h3>
              <p>Go to codeanddrink.fun</p>
              <p>Choose your username </p>
              <p>Enter the game password: <%= @game.password %></p>
            </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="card">
          <span class="badge">3</span>
            <div id="game-info">
              <h3><%= @game.title %></h3>
              <p>Wait for the game to start</p>
              <p><%= @game.description %></p>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="container">
          <div id="game-players">
          <%= render partial: 'players/players', locals: { players: @players } %>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="col-xs-12">
      <div id="game-actions">
        <%= link_to "Start the round", game_master_game_rounds_path(@game), class: "button-lg button-green" %>
      </div>
    </div>
  </div>
</div>
