<div class="container">
  <h1>Code and drink buttons</h1>
  <p>We already chose fonts and buttons!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit distinctio sapiente laborum reprehenderit alias harum veritatis placeat beatae assumenda, accusamus eum magnam ad quod repellat nihil nostrum nemo adipisci unde!</p>
  <%= link_to "Wouhou", "#", class: "button button-purple"  %>
  <%= link_to "Wouhou", "#", class: "button button-blue"  %>
  <%= link_to "Wouhou", "#", class: "button button-green"  %>
  <%= link_to "Wouhou", "#", class: "button button-yellow"  %>
  <%= link_to "Wouhou", "#", class: "button button-red"  %>
</div>
