<div class="container">
  <div class="main-container">
    <!-- div des 2 écran Enocé/Test et code area -->
    <div class="row">
      <!-- div écran Enocé/Test -->
      <div class="col-xs-6">
        <!-- div boutons Enoncé et Test -->
        <ul class="nav nav-tabs" role="tablist" id="custom-tabs">

          <li class="nav-item active" >
            <div>
              <a class="nav-link active" id="rules-tab" href="#rules" aria-controls="rules" role="tab" data-toggle="tab" aria-selected="true">
                <h3>Rules</h3>
              </a>
            </div>
          </li>

          <li class="nav-item">
            <div>
              <a class=" nav-link" id="tests-tab" href="#tests" aria-controls="tests" role="tab" data-toggle="tab" aria-selected="false">
                <h3>Test</h3>
              </a>
            </div>
          </li>
        </ul>
        <!-- div Fin - boutons Enoncé et Test -->
        <!-- div zone de texte -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="rules" >
            <p><%= exercise.rules %> </p>
          </div>
          <div role="tabpanel" class="tab-pane" id ="tests" >
            <%= render partial: "players/spec_output", locals: { attempt: last_attempt } %>
          </div>
        </div>
        <!-- div Fin - Zone de text-->
      </div>
      <!-- div écran code area + btn submit et reset -->
      <div class="col-xs-6">
        <!-- div écran code area -->
        <div id="editor">
          <!-- écrire le placeholder du code de l'exercice ici pour l'écrire dans l'éditeur -->
        </div>
          <!-- Hidden components -->
          <%= simple_form_for [round, attempt], remote: true do |f| %>
          <%= hidden_field_tag 'player_id', nil %>
          <%= f.input :player_input, input_html: { style: "display:none;" }, label: false %>
          <% end %>
          <div id="template" style="display: none"><%= exercise.template %></div>
          <div id="last_attempt" style="display: none"><%= last_attempt.player_input unless last_attempt.nil? %></div>
      </div>
    </div>
  </div>
</div>
<!-- div des 2 boutons reset et submit -->
<div class="validation">
  <div class="purple_band">
    <div class="left">
      <%= link_to "Reset", "#", class: "button button-red", id: "reset" %>
      <%= link_to "Submit", "#", class: "button button-green", id: "submit" %>
    </div>
  </div>
  <div>

