<div class="container">
  <h1>Rounds for "<%= @game.title %>"</h1>
  <% @rounds.each_with_index do |round, index| %>
    <div class="round box-shadow">
      <div class="round-info">
        <div class="circle-red mr-1"><%= index + 1 %></div>
        <p><%= round.exercice.title %></p>
      </div>

      <div class="form-inline">
        <%= form_for [:game_master, @game, round],
        url: update_number_of_winners_game_master_game_round_url(@game, round) do |f|
        %>
          <div class="form-group">
            <%= f.number_field :number_of_winners,
            placeholder: "Number of winners",
            class: "form-control"
            %>
          </div>
          <%= f.submit 'Change number of winners', class: 'button button-yellow' %>
        <% end %>
      </div>

      <div>
        <%= link_to 'Start round',
        start_game_master_game_round_path(:game_master, @game, round),
        class: 'button button-green',
        method: :patch
        %>
      </div>
    </div>
  <% end %>
</div>
