<div class="container">
  <h1>Rounds for "<%= @game.title %>"</h1>
  <%= link_to '+ Ajouter un round', new_game_master_game_round_path(@game)%>

  <% @rounds.each_with_index do |round, index| %>
    <div class="round box-shadow">
      <div class="round-info">
        <div class="circle-red mr-1"><%= index + 1 %></div>
        <div>
          <p><%= round.exercise.title %></p>
          <p> <%= round.number_of_winners %> winners </p>
          <div class="icon">
            <%= link_to game_master_round_path(round) , {
              method: :delete,
              data: { confirm: "Are you sure?" }
            } do %>
            <%= icon('fa', 'trash-alt') %>
            <% end %>
            <%= link_to edit_game_master_game_round_path(@game, round)  do %>
            <%= icon('fa', 'edit') %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="round-action" >
        <% if @game.round_running? %>
          <%= link_to 'Stop round',
            stop_game_master_game_round_path(@game, round),
            class: 'button button-red',
            method: :patch
          %>
        <% else %>
          <%= link_to 'Start round',
            start_game_master_game_round_path(@game, round),
            class: 'button button-green',
            method: :patch
          %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
